// .companies-list:not(:last-child){
//     margin-right: 30px;
// }



.companies-item:not(:last-child){
margin-bottom: 30px;
}

.social-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: $transition-timing-function;

    margin: auto;

    &:hover, 
    &:focus
    {
    fill: $accent-color;
    border: 1px solid $accent-color;
    }
}

// .hide{
//     display: none;
// }

.companies-list {
    @include for-size(tablet-landscape) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  
  @media (min-width: 767px){
    .companies-item{ 
        width: calc((100% - 60px) / 3);
    }
  }

  .companies-list {
    @include for-size(desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  
  @media (min-width: 1199px){
    .companies-item{ 
        width: calc((100% - 150px) / 6);
    }
  }

  
  
    
    
