.footer{
    background: #2F303A;
    
}

.footer-flex{
    text-align: center;
}

.footer-nav{
    // display: block;
    padding-top: 60px;
}

.footer-join{
    // display: block;
    padding-top: 60px;
}

.footer-follow{
    // display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.join{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;

}

.margin{
    margin-top: 10px;
    margin-bottom: 0;
}

.contact-item{
    font-family: "Roboto, Sans Serif";
    font-style: normal;
    font-weight: normal;
    color: $secondary-color;
    text-decoration: none;
}


.footer-flex {
    @include for-size(tablet-landscape) {
        // display: block;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
  }

  
  @media (min-width: 767px){
    .footer-nav{ 
        padding-top: 60px;
        width: 50%;
    }
  }

  @media (min-width: 767px){
    .footer-join{ 
        padding-top: 60px;
        width: 50%;
    }
  }

  @media (min-width: 767px){
    .footer-follow{ 
        padding-top: 60px;
        padding-bottom: 60px;
        width: 100%;
    }
  }