.hero-title{
    font-family: "Roboto, Sans Serif";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    margin-top: 0;
    margin-bottom: 30px;
}